body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
}

#logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

#main-header-section {
  border-radius: 0 0 0 100px;
}

#header-section {
  background-image: url(./images/background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#header-section h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
}

#header-section {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  width: 70%;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#works-section {
  padding: 120px 0;
}

.frame-divider {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 100%;
}

.frame-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.frame-role {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.frame-year {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

#works-section .badge {
  color: #6070ff !important;
  background: #ebebff !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
